@font-face {
        font-family: 'zabars';
        src: url('fonts/zabars.ttf') format('truetype');
    }

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(img/5_background/desert-background.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

h1{
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

canvas{
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    h1 {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    canvas {
        height: 100vh;
    }
    h1 {
        display: none;
    }
}













/* 
1.  Start Screen
2.  Musik + Sound 
3.  Game Over Screen
4.  Coins einsammeln
5.  Flaschen einsammeln
6.  Flaschen werfen wenn vorhanden
7.  Colision mit Gegnern
8.  Endgegner besiegen
9.  Fullscreen
10. Tasten erklären 
*/